* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Inclut les paddings et les bordures dans les dimensions */
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    background-color: #111;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    overflow: visible;
}

.logo {
    width: 10%; 
    max-width: 120px; 
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.navbar ul {
    list-style-type: none;
    color: white;
    display: flex;
    margin: 0; 
    padding: 0;
    width: auto;
    justify-content: space-around; 
    gap: 40px;
}

.navbar ul li {
    position: relative; 
    padding: 10px 20px; 
}

.navbar ul li ul {
    position: absolute;
    display: none; 
    flex-direction: column;
    width: 200px; 
    top: 40px;
    background-color: #3C3C41;
    gap: 5px;
    padding: 10px;
    border-radius: 5%;
    z-index: 15; 
}

.navbar ul li:hover ul {
    display: flex; 
}

.navbar ul li:hover {
    background-color: #555;
    border-radius: 10%;
    color: #8f8847;
}

li {
    padding: 10px; 
}

.search {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #c8aa6e; 
    border-radius: 8px;
    background-color: #1c1b1b; 
    color: #fff; 
    outline: none;
    transition: all 0.3s ease;
    margin-left: 10px; 
    position: absolute; 
    right: 20px; 
}

.search:focus {
    border-color: #e5c100; 
    box-shadow: 0 0 10px #e5c100; 
}

.promo {
    position: relative; 
    width: 100%;
    height: 80vh; 
    display: flex;
    background-image: url("image/d6qxtx9-a4e6dd28-1906-4b2d-bf96-e218a1c05010.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.promo div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.Landscape {
    width: 100%;
    height: auto;
    z-index: -1;
}

