@font-face {
    font-family: "QuadrataR";
    src:
      local("Quadrata"),
      url("/font/Friz\ Quadrata\ Regular.ttf") format("truetype");
      
  }
  @font-face {
    font-family: "QuadrataM";
    src:
      local("Quadrata"),
      url("/font/Friz\ Quadrata\ Std\ Medium.otf") format("opentype");
  }
  @font-face {
    font-family: "QuadrataB";
    src:
      local("Quadrata"),
      url("/font/Friz\ Quadrata\ Bold.otf") format("opentype");
      
  }
  @font-face {
    font-family: "QuadrataI";
    src:
      local("Quadrata"),
      url("/font/Friz\ Quadrata\ Italic.ttf") format("truetype");
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: #111;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    overflow: visible;
}

.logo {
    width: 10%;
    max-width: 120px;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-right: 12%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    gap: 40px;
    width: 60%;
    margin-right: 15%;
}
.navbar ul li {
    position: relative;
    padding: 10px 20px;
}

.navbar ul li ul {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 200px;
    top: 40px;
    background-color: #3C3C41;
    gap: 5px;
    padding: 10px;
    border-radius: 5%;
    z-index: 15;
}

.navbar ul li:hover ul {
    display: flex;
}

.navbar ul li:hover {
    background-color: #555;
    border-radius: 10%;
    color: #8f8847;
}

li {
    padding: 10px;
    font-family: "QuadrataR";
    color: #F0E6D2;
    text-transform: uppercase;
}
li a{
    text-decoration: none;
    color: #F0E6D2;
}

.search {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #c8aa6e;
    border-radius: 8px;
    background-color: #1c1b1b;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
    margin-left: 10px;
    position: absolute;
    right: 20px;
}

.search:focus {
    border-color: #383838;
    box-shadow: 0 0 10px #ffc21b;
}

.promo h1 {
    display: flex;
    flex-wrap: wrap; 
    font-family: "QuadrataB";
    color: rgb(209, 209, 209);
    font-size: 130px;
    flex-direction: column;
}

.promo h1 span {
    display: block; 
    text-align: center;
}

.promo {
    position: relative; 
    width: 100%; 
    height: auto; 
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    background-image: url("image/d6qxtx9-a4e6dd28-1906-4b2d-bf96-e218a1c05010.jpg");
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    padding: 5%;
}

.grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 80%; 
    max-width: 600px; 
    height: auto; 
   
    background: inherit;
    border: 2px solid black;
    padding: 10px; 
    border-radius: 10%;
    box-sizing: border-box;
    margin-top: 20px; 
}


.grid .case {
    flex: 0 1 calc(30% - 10px); 
    background-image: url(".//image/ahri.png");
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 160px; 
    margin: 5px; 
    border-radius: 10%;
    border: 2px solid #c8aa6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 5px; 
    transition: transform 0.3s ease;
    position: relative;
    font-size: 14px; 
    overflow: hidden; 
}

.grid .case p {
    position: relative; 
    z-index: 2;
    margin: 0; 
    font-size: 12px; 
    display: none; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.grid .case:hover p {
    display: block; 
    opacity: 1; 
}

.grid .case:hover {
    transform: scale(1.05); 
}



.boutique {
    background-color: #3C3C41; 
    color: white; 
    padding: 20px;
    text-align: center;
    width: 100%; 
    margin-top: 20px; 
    height: auto;
}
.boutique h1 {
    font-family: "QuadrataB";
    font-size: 60px;
}
.boutique p {
    font-family: "QuadrataR"; 
    font-size: 18px; 
}
.gridboutique {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; 
    padding: 20px; 
}
.gridboutique .box {
    background-image: url("image/TPA.jpg");
    background-size: cover;
    background-position: center;
    width: 30%; 
    height: 200px; 
    border-radius: 10%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}
.gridboutique .box:hover {
    transform: scale(1.05); 
}
.gridboutique .box::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    filter: blur(4px); 
    z-index: 1; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.gridboutique .box:hover::before {
    opacity: 1; 
}
.gridboutique .box p {
    position: relative; 
    z-index: 2; 
    margin: 0;
    color: white; 
    font-family: "QuadrataR"; 
    font-size: 18px; 
    text-align: center; 
}
.grid .case::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    filter: blur(4px); 
    z-index: 1; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.grid .case:hover::before {
    opacity: 1;
}
.buy-button {
    font-family: 'Marcellus SC', serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 15px; 
    background: #1e2328;
    color: #cdbe91;
    box-shadow: inset 0 0 2px #000000;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.1s;
    opacity: 0; 
    visibility: hidden; 
    position: absolute; 
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2; 
}

.grid .case:hover .buy-button {
    opacity: 1; 
    visibility: visible; 
}

.gridboutique .box:hover .buy-button {
    opacity: 1; 
    visibility: visible; 
}


@media screen and (max-width: 768px) {
    .gridboutique .box {
        width: 45%; 
    }
}

@media screen and (max-width: 1024px) {
    .promo h1 {
        font-size: 100px; 
    }
    .grid {
        width: 60%; 
    }
    .grid .case {
        width: 120px;
        height: 160px;
    }
}

@media screen and (max-width: 768px) {
    .promo h1 {
        font-size: 80px; 
    }
    .grid {
        width: 80%; 
    }
    .grid .case {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column; 
        height: auto;
    }
    .navbar ul {
        flex-direction: column; 
    }
    .promo h1 {
        font-size: 60px; 
    }
    .grid {
        width: 100%; 
    }
    .grid .case {
        width: 100px;
        height: 100px; 
    }
    .gridboutique .box {
        width: 80%;
        height: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar ul {    
        display: none; 

    }
    /*.navbar ico{
        display block-size: ;
    }*/
}

/*

-----------------LOGIN---------------------

*/
div.log{
    display: flex;
    width: 15%;
    justify-content:space-around;
}
.icolog{
    width: 45px;
    height: 45px;
    border: 0;
    padding: 12px; 
    background-color: #F0E6D2;
    border-radius: 100% ;
    position: relative;
}
.icolog:hover{
    background-color: #0397AB;
}
.icolog:hover fieldset#F2{
    display: block;
}
/*------------------------*/
fieldset#F2{
    display: none;
    position: absolute;
    width: 400px;
    font-family: "QuadrataM";
    background-color: white;
    border: 15px white solid ;
    /*border-top:15px solid #0397AB;*/
    border-radius: 20px;
    box-shadow: 5px 5px 5px #091428;
    font-size: 20px;
    text-align: center;
    color: #091428;
    right: -180px;
    top: 45px;
}
#sc{
    background-color:#005A82 ;
    border: 0;
    border-radius: 10px;
    font-size: 17px;
    padding: 5px 30px;
    color: white;
    font-family: "QuadrataM";
    /*box-shadow: 4px 4px 7px black;*/
    box-shadow: 0px 0px 2px #005A82;
}
#cc{
    background-color:#785A28;
    border: 0;
    border-radius: 10px;
    font-size: 17px;
    padding: 5px 30px;
    color: white;
    font-family: "QuadrataM";
    /*box-shadow: 4px 4px 7px black;*/
    box-shadow: 0px 0px 2px #785A28;
}
#sc:hover{
    background-color: #0397AB;
}
#cc:hover{
    background-color: #C89B3C;
}
/*

-----------------PANIER---------------------

*/
.icobuy{
    width: 45px;
    height: 45px;
    border:0;
    padding: 12px; 
    background-color: #F0E6D2;
    border-radius: 100% ;
}
.icobuy:hover{
    background-color: #0397AB;
  }
.icobuy:hover .panier{
    display: block;
}
/*------------------------*/

.panier{
    display: none;
    position: absolute;
    width: 300px;
    height: 90%;
    font-family: "QuadrataM";
    background-color: white;
    border: 15px white solid;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #091428;
    font-size: 20px;
    text-align: center;
    color: #091428;
    right: 0%;
    top: 52px;
}
h3{
    text-align: center;
    text-transform: uppercase;
    font-family: "QuadrataM";
    font-weight: bold;
    font-size: 40px;
    color: #091428;
    border-bottom: 2px solid #0397AB;
}
.panier{}



/*

-----------------INSCRPAGE---------- -----------




*/
body.inscrpage{
    background-image: url(/image/lol_desktop_background_2x.jpg);
    background-size: cover;



}
h2{
    margin: 20px 0;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    text-transform: uppercase;
    font-family: "QuadrataM";
    font-weight: bold;
    font-size: 40px;
    color: white;
}
fieldset#F1{
    width: 20%;
    margin: 0 auto;
    padding: 0 60px;
    background-color: white;
    border: 30px white solid;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    /*text-align: left;*/
    text-align: center;
    font-family: "QuadrataM";
    font-size: 20px;
    color: #091428;
}
.submit{
    background-color:#005A82 ;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 30px;
    color: white;
    font-family: "QuadrataM";
    border: 0;
    /*box-shadow: 4px 4px 7px black;*/
    box-shadow: 0px 0px 2px #005A82;
}
.submit:hover{
    background-color:#0397AB ;
}
fieldset#F1 input:not(.submit){
    border: none;
    border-bottom: #785A28 solid 1px;
    width: 170px;
    margin-bottom: 15px;
    /*text-align: center;*/
    text-align: left;
   
}

.mentions {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.reseaux img {
    width: 3%;
    height: 3%;
}